# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Secretos — NUNCA quitar esta línea
.env

# PyCharm (configuración personal, no del proyecto)
.idea/

# macOS
.DS_Store

# Datos originales (pesan demasiado para el repo)
data/raw/

# Datos procesados y base vectorial (necesarios chunks y embeddings para no subir la tesis, muy pesada)
data/processed/*
!data/processed/chunks.json
!data/processed/embeddings.npy
chroma_db/